.navbar-brand {
    padding: 15px 60px;
   
  }
  .logo {
    font-size: 20px;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-left: 10px;
  }
  .navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
  }
  
  .navbar-right {
    padding-right: 60px;

  }
  .navbar-default .navbar-nav>li>a {
    color: white;
    font-size: 18px;
  }
  .navbar-default .navbar-nav>li>a:hover {
    color: white;
    font-size: 18px;
  }
  .center-image {
    text-align: center;
  }

  /* Optional: Set maximum width for the image */
  .center-image img {
    max-width: 100%;
    height: auto;
  }
  .center-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;
    padding: 20px;
    margin-bottom: 50px;
    color: white;
  }
  .jumbotron-bg {
    background-image: url("/static/3775389.jpg");
    background-size: cover;
    background-position: center;
    max-height: 100%;
    color:white; /* Set text color to white for better visibility */
  }
  .weather-container {
    flex:1;
    background-image: url("/static/sky.jpg");
    background-size: cover;
    background-position: center;
    max-height: 100%;
    margin-right: 150px;
    max-width: 500px;
    border-radius: 15px;
    text-align: center;
  }
  
  #input-section {
    margin-bottom: 20px;
  }
  
  #weather-info {
    margin-top: 20px;
  }
  .flex-container {
    position: relative;
    display: flex;
    margin-top: 80px;  /*Adjust the margin-top as needed */
    justify-content: space-between; /* Align items with space between them */
    margin-bottom: 100px;
  }
  
  .weather-container,
  .center-container {
    flex-basis: 45%; /* Set initial width for both containers */
    padding: 20px;
  }
  
  